<section>
    <form>
        <fieldset>
            <div class="mb-3">
                <label class="form-label">Input text</label>
                <input class="form-control-plaintext" type="email" placeholder="enter text">
            </div>
            <div class="mb-3">
                <select class="form-select form-switch">
                    <option selected>selected</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Input group</span>
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">checkbox 1</label>
                </div>
                <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">checkbox 2</label>
                </div>
            </div>  
            <div class="mb-3">
                <div class="form-file">
                    <input class="form-file-input" type="file" />
                    <label class="form-file-label">
                        <span class="form-file-text">Upload a file</span>
                        <span class="form-file-button">Pretend Button</span>
                    </label>
                </div>
            </div>  
        </fieldset>
    </form>

</section>