<div class="w-full flex flex-row gap-2 justify-center items-center mb-8">
  <div
    class="bg-purple-100 text-purple-900 ring-1 ring-purple-600 text-center pt-1 pb-1 pl-4 pr-4 rounded-full"
  >
    {{ data.email }}
  </div>
  <div
    class="flex flex-col justify-center items-center cursor-pointer"
    (click)="editEmailId()"
  >
    <mat-icon svgIcon="edit"></mat-icon>
  </div>
</div>

<form [formGroup]="fg">
    <div class="control">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Firstname</mat-label>
          <input
            matInput
            formControlName="firstName"
            [(ngModel)]="user.firstName"
          />
          <mat-error>firstname is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Lastname</mat-label>
          <input matInput formControlName="lastName"  [(ngModel)]="user.lastName" />
          <mat-error>lastname is required</mat-error>
        </mat-form-field>
      </div>
      
      <div>
        <div formGroupName="passwordGroup">
            <mat-error *ngIf="fg.get('passwordGroup')?.errors" class="text-xs">password doesn't match</mat-error>
            <div class="control">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      formControlName="password"
                      [(ngModel)]="user.password"
                      [type]="showPassword ? 'text' : 'password'"
                    />
                    <mat-error>password is required</mat-error>
                </mat-form-field> 
                  
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Confirm</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" />
                    <mat-error>confirm field is mandatory</mat-error>
                  </mat-form-field>
            </div>
            
        </div>
       
      </div>
    
      <div>
        <div class="control">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Verify otp</mat-label>
            <input matInput formControlName="otp" [(ngModel)]="user.otp" />
          </mat-form-field>
        </div>
      </div>
</form>

<div>
  <mat-checkbox [(ngModel)]="showPassword">show password</mat-checkbox>
</div>
<button
  class="w-full"
  mat-stroked-button
  (click)="completeSignUp()"
  [disabled]="disabled"
>
  Signup
</button>

{{fg.value |json}}
