:host{
    width: 100%;
    margin: 0px;
    padding:0px;
}
:host > section:nth-of-type(1){
    //background-color: #000;
    min-height: 50px;
}

img{
    border-radius: 50%;
    height: 30px;
    width: auto;
}

.active{
    @apply text-purple-900;
}