<div class="flex-wrap flex flex-row  justify-start items-start res gap-4">
    <div class="flex flex-col items-start justify-center">
        <div class="rounded-lg  w-80 flex flex-col justify-center items-center outline-dashed outline-2 outline-gray-300 h-64 cursor-pointer" (click)="routeTo(0)">
            <mat-icon svgIcon="add"  class="add"></mat-icon>
            <p>Add address</p>
        </div>
    </div>
    
    <div class="address-card relative pl-4 pr-4 pt-4 pb-4 ring-1 ring-gray-200" *ngFor="let address of addresses; let first = first; let index =index;">
        <h1 class="relative text-gray-500 font-bold text-sm">ADDRESS: {{index + 1}}</h1>
        <div class="absolute left-0 border-b border-b-gray-200 w-full"></div>
        <div class="address-details">
            <p class="text-sm font-bold mt-4 text-black">{{address.name | titlecase}}</p>
            <p>{{address.address}} {{address.landmark}}</p>
            <p>{{address.city}} {{address.state}} {{address.pincode}}</p>
            <p>{{address.country}}</p>
            <p>Phone number: {{address.contactNo}}</p>
        </div>
        <div class="mt-4 flex flex-row gap-2">
            <span class="cursor-pointer" (click)="edit(address.addressId)">Edit</span>
            <span class="font-semibold">|</span>
            <span class="cursor-pointer" (click)="remove(address.addressId)">Remove</span>
        </div>
    </div>
</div>