<div class="pt-8 flex flex-col justify-start items-center">
  <div
    class="p-5 w-full border-b-2 border-b-gray-300 mb-5 flex flex-row justify-start gap-5"
  >
    <mat-icon
      svgIcon="backspace"
      class="cursor-pointer"
      (click)="goBack()"
    ></mat-icon>
    <h1>Name</h1>
  </div>
  <div class="flex flex-col w-1/2 max-md:w-full p-4">
    <form [formGroup]="fg" class="flex flex-col gap-4">
      <mat-form-field appearance="outline">
        <mat-label>firstname</mat-label>
        <input matInput formControlName="firstName" [(ngModel)]="currentName.firstName"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>lastname</mat-label>
        <input matInput formControlName="lastName" [(ngModel)]="currentName.lastName" />
      </mat-form-field>
      <div class="flex flex-row justify-end items-center">
        <div class="flex flex-row gap-4">
          <button mat-stroked-button class="bg-blue-700 text-white font-bold" (click)="save()" [disabled]="!isDirty">
            Save
          </button>
          <button mat-stroked-button (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>