:host{
    width: 100%;
    height: 100%;
}
nav{
    position: fixed;
    z-index: 2;
    background-color: #fff; 
    overflow-x:scroll;
    color: #000;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}
nav::-webkit-scrollbar{
    display: none;
}
a{
    @apply w-full;
}

.content{
    @apply relative top-14;
}
.tab-content{
    @apply flex flex-row gap-5 w-fit;
}


@media (min-width: 500px) {
    :host{
        display: flex;
        flex-direction: row;
        gap: 3px;
    }
    .content{
        margin-left: 250px;
        width: 100%;
    }
    .tab-content{
        @apply flex flex-row gap-5 w-32;
    }
    nav{
        width: 250px !important;
    }
    .active{
        @apply bg-purple-300 text-purple-800 rounded-r-full;
    }
    
}
.mat-tab-links{
    flex-direction: column !important;
    justify-content: start;
    align-items: center;
}
